.about {
    width: 100%;
    // height: clamp(812px, 812px + (1000 - 812) * ((100vw - 375px) / (1600 - 375)), 1000px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 200px 0;
    @media (max-width: 992px) {
        padding: 100px 0;
    }
    @media (max-width: 768px){
        padding: 50px 0;
    }
    &__content {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        position: relative;
    }
    &::before {
        content: "";
        width: 1600px;
        height: 1562px;
        background-image: url("/about.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: -150px;
        z-index: -1;
        @media (max-width: 992px) {
            height: 1070px;
            top: -84px;
            width: 800px;
        }
        @media (max-width: 768px) {
            height: 612px;
            top: 100px;
        }
    }
    &__ellipses {
        position: absolute;
        background-image: url("/about-ellipses.webp");
        background-repeat: no-repeat;
        background-size: cover;
        width: 1800px;
        height: 1800px;
        left: -500px;
        top: -400px;
        z-index: -1;
        opacity: 0.5;
        @media (max-width: 992px) {
            background-image: none;
        }
    }
}
