.congo {
    position: absolute;
    top: 284px;
    right: 315px;
    z-index: 10;

    @media (max-width: 768px) {
        top: 413px;
        right: 124px;
    }
    @media (max-width: 360px) {
        right: 98px;
    }
    &__title {
        display: none;
        position: absolute;
        top: 99px;
        left: 123px;
        font-size: 20px;
        font-weight: 600;
        display: flex;
        align-items: center;
        opacity: 0;
        transition: all 0.5s ease-out;
        cursor: url("/cursor.png"), auto;

        img {
            margin-right: 10px;
            @media (max-width: 768px) {
                width: 20px;
                height: 10px;
                margin-right: 5px;
            }
        }
        @media (max-width: 768px) {
            font-size: 14px;
            top: 41px;
            left: 52px;
        }
    }

    &:hover {
        .congo__title {
            opacity: 1;
            transition: all 0.5s ease-out;
        }
        .congo__svg {
            transform: scale(1.5);
            transition: all 0.5s ease-out;
            path {
                fill: var(--color-hover);
            }
        }
        .congo__btn {
            bottom: 39px;
            left: 245px;
            transition: all 0.5s ease-out;
            @media (max-width: 768px) {
                left: 122px;
            }
        }
    }
    &__btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.3);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 16px;
        font-weight: 600;
        bottom: 106px;
        left: 205px;
        transition: all 0.5s ease-out;
        @media (max-width: 768px) {
            width: 21px;
            height: 21px;
            font-size: 16px;
            bottom: 26px;
            left: 97px;
        }
    }

    &__svg {
        transition: all 0.5s ease-out;
        @media (max-width: 768px) {
            width: 149px;
            height: 148px;
        }
    }
    &__tooltip {
        position: absolute;
        padding: 0 20px;
        width: 300px;
        z-index: 20;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(5px);
        text-align: start;
        left: -270px;
        bottom: -280px;
        @media (max-width: 992px) {
            width: 240px;
            left: -194px;
            bottom: -220px;
        }
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 64px;
            height: 27px;
            border-top: 32px solid transparent;
            border-right: 32px solid rgba(255, 255, 255, 0.1);
            top: -33px;
            right: 16px;
            transform: rotate(0deg);
            @media (max-width: 992px) {
                right: 34px;
            }
        }

        p {
            font-family: var(--font-inter);
            font-size: 16px;
            font-weight: 400;
            opacity: 0.5;
            padding: 20px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            &:last-child {
                border-bottom: none;
            }
            @media (max-width: 992px) {
                font-size: 12px;
                padding: 15px 0;
            }
        }
    }
}
.modal-congo {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 100;
    @media (max-width: 992px) {
        right: -60px;
        top: -60px;
    }
    @media (max-width: 768px) {
        top: 150px;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        top: 128px;
        left: 303px;
        max-width: 500px;
        @media (max-width: 768px) {
            top: 129px;
            left: 196px;
        }
      
    }
    &__close {
        position: absolute;
        right: 146px;
        top: 138px;
        padding: 10px;
        @media (max-width: 768px) {
            right: 67px;
            top: 64px;
        }
        svg {
            @media (max-width: 767px) {
                width: 25px;
                height: 25px;
            }
        }
    }
    &__image {
        @media (max-width: 768px) {
            width: 600px;
            height: auto;
        }
    }
    h6 {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 63px;
        display: flex;
        align-items: center;
        img {
            margin-right: 10px;
        }
        @media (max-width: 768px) {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }

    a {
        font-size: 30px;
        font-weight: 600;
        padding: 20px 20px 20px 0px;
        border-bottom: 2px solid var(--color-text-white);
        cursor: url("/cursor.png"), auto;
        @media (max-width: 768px) {
            padding: 10px 10px 10px 0px;
        }
        svg {
            margin-left: 20px;
            @media (max-width: 768px) {
                width: 13px;
                height: 13px;
                margin-left: 10px;
            }
        }
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
}
