.burundi {
    position: absolute;
    top: 689px;
    right: 320px;
    z-index: 8;

    @media (max-width: 768px) {
        top: 475px;
        right: 125px;
    }
    @media (max-width: 360px) {
        // right: 98px;
    }
    &__title {
        display: none;
        position: absolute;
        top: -10px;
        right: -50px;
        // font-size: 20px;
        // font-weight: 600;
        display: flex;
        align-items: center;
        opacity: 0;
        transition: all 0.5s ease-out;
        // cursor: url("/cursor.webp"), auto;

        img {
            margin-right: 10px;
            @media (max-width: 768px) {
                // margin-right: 5px;
                width: 30px;
            }
        }
        @media (max-width: 768px) {
            top: -10px;
            left: 10px;
        }
    }

    &:hover {
        .burundi__title {
            opacity: 1;
            transition: all 0.5s ease-out;
        }
        .burundi__svg {
            transform: scale(1.5) translateX(8px);
            transition: all 0.5s ease-out;
            path {
                fill: var(--color-hover);
            }
            @media (max-width: 768px){
                 transform: scale(1.5) translateX(0px);
            }
        }
        // .burundi__btn {
        //     bottom: 39px;
        //     left: 245px;
        //     transition: all 0.5s ease-out;
        //     @media (max-width: 768px) {
        //         left: 122px;
        //     }
        // }
    }
    &__btn {
        position: absolute;
        bottom: -30px;
        left: 186px;
        transition: all 0.5s ease-out;
        @media (max-width: 768px) {
            bottom: -2px;
            left: 110px;
        }
        span {
            font-family: var(--font-inter);
            font-size: 14px;
            font-weight: 600;
            @media (max-width: 768px){
                font-size: 8px;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        svg {
            position: absolute;
            top: -40px;
            right: -5px;
            @media (max-width: 768px) {
                top: -30px;
                width: 100px;
                right: 4px;
            }
        }
    }

    &__svg {
        transition: all 0.5s ease-out;
        @media (max-width: 768px) {
            width: 18px;
            height: 18px;
        }
    }
    &__tooltip {
        position: absolute;
        padding: 0 20px;
        width: 300px;
        z-index: 20;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(5px);
        text-align: start;
        left: -200px;
        bottom: -160px;
        @media (max-width: 992px) {
            width: 240px;
            left: -164px;
            bottom: -120px;
        }
        @media (max-width: 768px){
            left: -210px;
            bottom: -140px;
        }
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 64px;
            height: 27px;
            border-top: 32px solid transparent;
            border-right: 32px solid rgba(255, 255, 255, 0.1);
            top: -33px;
            right: 66px;
            transform: rotate(0deg);
            @media (max-width: 992px) {
                right: 34px;
            }
        }

        p {
            font-family: var(--font-inter);
            font-size: 16px;
            font-weight: 400;
            opacity: 0.5;
            padding: 20px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            &:last-child {
                border-bottom: none;
            }
            @media (max-width: 992px) {
                font-size: 12px;
                padding: 15px 0;
            }
        }
    }
}
.modal-burundi {
    position: absolute;
    top: 228px;
    right: 0px;
    z-index: 100;
    @media (max-width: 992px) {
        right: -60px;
        top: 170px;
    }
    @media (max-width: 768px) {
        top: 150px;
        right: 0px;
    }
    @media (max-width: 580px) {
        right: -40px;
        top: 200px;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        top: 28%;
        left: 23%;

        a {
            display: flex;
            align-items: center;
        }
        div {
            display: flex;
            gap: 10px;
            font-size: 40px;
            img {
                border-radius: 6px;
                width: 75px;
            }
            @media (max-width: 768px) {
                font-size: 16px;
                img {
                    width: 40px;
                }
            }
        }
    }
    &__close {
        position: absolute;
        right: 25%;
        top: 20%;
        padding: 10px;

        svg {
            @media (max-width: 767px) {
                width: 25px;
                height: 25px;
            }
        }
    }
    &__image {
        @media (max-width: 768px) {
            width: 600px;
            height: auto;
        }
    }
    h6 {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 63px;
        display: flex;
        align-items: center;
        img {
            margin-right: 10px;
        }
        @media (max-width: 768px) {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }

    a {
        font-size: 30px;
        font-weight: 600;
        padding: 20px 20px 20px 0px;
        border-bottom: 2px solid var(--color-text-white);
        cursor: url("/cursor.webp"), auto;
        @media (max-width: 768px) {
            padding: 10px 10px 10px 0px;
        }
        svg {
            margin-left: 20px;
            @media (max-width: 768px) {
                width: 13px;
                height: 13px;
                margin-left: 10px;
            }
        }
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
}
