.products {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    @media (max-width: 768px) {
        justify-content: flex-start;
    }
    &__ellipses {
        position: absolute;
        top: -240px;
        z-index: -4;
        opacity: 0.8;
        @media (max-width: 768px) {
            width: 1000px;
            height: 1000px;
            top: 0px;
            right: -400px;
        }
    }
}
