.contacts {
    position: relative;
    &__wrap {
        padding: 100px 0;
        display: flex;
        @media (max-width: 992px) {
            flex-direction: column-reverse;
            padding: 50px 0 0;
        }
    }
    &__content {
        flex: 0 0 50%;
        padding-right: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 992px) {
            padding-right: 0;
        }
        h3 {
            padding-bottom: 60px;
            @media (max-width: 768px) {
                font-size: 30px;
                padding-bottom: 30px;
            }
        }
        span {
            font-size: 16px;
            opacity: 0.5;
            padding-bottom: 10px;
            display: block;
        }
        a {
            font-size: 20px;
            padding-bottom: 40px;
            display: inline-block;
        }
    }
    &__address {
        font-size: 20px;
        padding-bottom: 20px;
        max-width: 480px;
        @media (max-width: 768px) {
            font-size: 16px;
        }
    }

    &__social {
        display: flex;
        padding-top: 20px;
        @media (max-width: 1440px) {
            flex-direction: column-reverse;
        }
        &-item {
            a {
                display: inline-block;
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }
            &:first-child {
                margin-right: 100px;
            }
        }
    }
}
