.cases {
    position: relative;
    height: 1203px;
    &__titles {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &__subtitle {
        width: 330px;
        padding-top: 46px;
        font-size: 20px;
        font-weight: 400;
        opacity: 0.5;
    }
    &__svg-map {
        position: absolute;
        right: 0;
        top: -338px;
        z-index: -3;
        opacity: 0.5;
    }
    &__item {
        position: absolute;
        top: 152px;
        right: 571px;

        &-name {
            position: absolute;
            top: 43px;
            left: 13px;
            font-size: 20px;
            font-weight: 600;
            display: flex;
            align-items: center;
            opacity: 0;
            transition: all 0.5s ease-out;
            img {
                margin-right: 10px;
            }
        }
        cursor: pointer;
        &:hover {
            .cases__item-name {
                opacity: 1;
                transition: all 0.5s ease-out;
            }
            .cases__svg-1 {
                transform: scale(1.5);
                transition: all 0.5s ease-out;
                path {
                    fill: var(--color-hover);
                }
            }
            .cases__item-btn {
                display: flex;
            }
        }
    }
    &__item-btn {
        position: absolute;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.3);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 16px;
        font-weight: 600;
        display: none;
    }
    .btn-1 {
        top: 14px;
        left: 146px;
    }
    .btn-2 {
        bottom: 40px;
        left: 14px;
    }
 
    &__svg-2 {
        position: absolute;
        top: 283px;
        right: 314px;
    }
    &__svg-3 {
        position: absolute;
        top: 288px;
        right: 148px;
    }
}
.tooltip {
    position: absolute;

    padding: 20px;
    width: 320px;
    height: 135px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    text-align: start;
    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 64px;
        height: 27px;
        border-top: 32px solid transparent;
        border-right: 32px solid rgba(255, 255, 255, 0.1);
    }

    h6 {
        font-size: 16px;
        font-weight: 600;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        opacity: 0.5;
        padding-top: 19px;
    }
}
.tooltip-1 {
    right: -355px;
    top: -105px;
    &::before {
        bottom: 19px;
        left: -65px;
        transform: rotate(0deg);
    }
}
.tooltip-2 {
    left: -289px;
    bottom: -170px;
    &::before {
        top: -33px;
        right: 16px;
        transform: rotate(0deg);
    }
}
