.hexagon {
    margin: 50px 0 80px;
    position: relative;
    left: 990px;
    @media (max-width: 1100px) {
        left: 1160px;
    }
    @media (max-width: 768px) {
        overflow-x: auto;
        left: 0;
        width:768px;
    }
    @media (max-width: 375px) {
        width: 375px;
    }
    &::-webkit-scrollbar {
        width: 0;
    }
    &__block-left {
        width: 1425px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0px;
        @media (max-width: 1440px) {
            width: 1090px;
        }
        @media (max-width: 1100px) {
            width: 740px;
        }
    }
    &__block-right {
        width: 1425px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 1425px;
        @media (max-width: 1440px) {
            left: 1495px;
            width: 1090px;
        }
        @media (max-width: 1100px) {
            width: 740px;
            left: 990px;
        }
    }
    &__nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 350px;
        position: absolute;
        @media (max-width: 768px) {
            padding-left: 20px;
        }
        h2 {
            @media (max-width: 1100px) {
                font-size: 40px;
            }
        }
        p {
            width: 330px;
            font-weight: 400;
            font-size: 20px;
            color: rgba(255, 255, 255, 0.8);
            padding-top: 30px;
            @media (max-width: 1100px) {
                font-size: 16px;
                padding-top: 10px;
            }
        }
        button {
            position: absolute;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 220px;
            height: 50px;
            font-weight: 400;
            font-size: 16px;
            font-family: var(--font-inter);
            white-space: nowrap;
            color: rgba(255, 255, 255, 0.8);
            text-transform: uppercase;

            border-radius: var(--border-radius);
            border: 1px solid rgba(255, 255, 255, 0.8);
            z-index: 100;
            @media (max-width: 1100px) {
                font-size: 16px;
                height: 40px;
            }
            @media (max-width: 768px) {
                width: 90px;
                height: 38px;
                svg {
                    width: 30px;
                }
            }
            span {

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
    }
    .left {
        left: 0px;
        top: 30px;
        button {
            top: 20px;
            left: 400px;
            @media (max-width: 1100px) {
                top: 2px;
                left: 220px;
            }
            @media (max-width: 768px){
                left: 220px;
            }
        }
        svg {
            padding-left: 10px;
        }
        span{
            padding-left: 10px;
        }
    }
    .right {
        right: 0px;
        top: 30px;
        align-items: end;

        @media (max-width: 768px) {
            align-items: flex-start;
        }
        svg {
            padding-right: 10px;
        }
        button {
            top: 20px;
            right: 400px;
            @media (max-width: 1100px) {
                top: 2px;
                right: 220px;
            }
            @media (max-width: 768px) {
                left: 220px;
            }
        }
        p {
            text-align: end;
            @media (max-width: 768px) {
                text-align: start;
            }
        }
         span{
            padding-left: 10px;
        }
    }
    &__inner {
        width: 3332px;
        height: 940px;
        padding-left: 20px;
        padding-top: 100px;
        position: relative;

        @media (max-width: 1100px) {
            padding-top: 190px;
            height: 750px;
        }
        @media (max-width: 768px){
            width: 2020px;
        }
    }
    &__row {
        clear: left;
    }
    .even {
        margin-left: 251px;
        @media (max-width: 1100px) {
            margin-left: 167px;
        }
    }

    &__item {
        float: left;
        margin-left: 3px;
        margin-bottom: -23px;
        margin-right: 206px;
        position: relative;
        width: 290px;
        height: 167.43157806499147px;
        background-color: transparent;
        border-left: solid 2px #fff;
        border-right: solid 2px #fff;
        transform: rotate(90deg);

        @media (max-width: 1100px) {
            width: 192px;
            height: 110.85125168440815px;
            margin-left: 3px;
            margin-bottom: -16px;
            margin-right: 138px;
        }
    }
    &__img {
        position: relative;
        top: -60px;
        left: -23px;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        transform: rotate(-90deg);
        width: 332px;
        height: 287px;
        z-index: -3;
        @media (max-width: 1100px) {
            width: 217px;
            height: 189px;
            top: -39px;
            left: -14px;
        }
        img {
            object-fit: cover;
        }
    }

    &__content {
        z-index: 20;
        transform: rotate(270deg);
        width: 270px;
        @media (max-width: 1100px) {
            width: 168px;
        }
        h6 {
            position: absolute;
            left: -84px;
            top: -16px;
            width: 100%;
            font-weight: 600;
            font-size: 25px;
            text-align: center;
            padding: 5px;
            @media (max-width: 1100px) {
                font-size: 16px;
                left: -55px;
                top: -10px;
            }
        }
        p {
            width: 100%;
            position: absolute;
            left: -84px;
            top: 50px;
            font-size: 16px;
            text-align: center;
            font-style: italic;
            padding: 5px;
            @media (max-width: 1100px) {
                font-size: 12px;
                left: -55px;
                top: 35px;
            }
        }
        a {
            position: absolute;
            left: 11px;
            top: -92px;
            padding: 30px;
              cursor: url('/cursor.png'), auto;
            @media (max-width: 1100px) {
                padding: 10px;
                left: 17px;
                top: -49px;
            }
            svg {
                @media (max-width: 992px) {
                    width: 8px;
                }
            }
        }
    }
    &__hover {
        position: absolute;
        background-color: rgba(27, 56, 73, 0.5);
        position: absolute;
        top: -60px;
        left: -23px;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        transform: rotate(-90deg);
        width: 332px;
        height: 287px;
        z-index: -1;
        @media (max-width: 1100px) {
            width: 218px;
            height: 189px;
            top: -39px;
            left: -15px;
        }
    }
    &__item:before,
    &__item:after {
        content: "";
        position: absolute;
        width: 205.06096654409876px;
        height: 205.06096654409876px;
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: inherit;
        left: 40.46951672795062px;
        transition: 0s;
        @media (max-width: 1100px) {
            width: 135.7645019878171px;
            height: 135.7645019878171px;
            left: 26.117749006091444px;
        }
    }

    &__item:before {
        top: -102.53048327204938px;
        border-top: solid 2.8284271247461903px #ffffff;
        border-right: solid 2.8284271247461903px #ffffff;
        @media (max-width: 1100px) {
            top: -67.88225099390856px;
        }
    }

    &__item:after {
        bottom: -102.53048327204938px;
        border-bottom: solid 2.8284271247461903px #ffffff;
        border-left: solid 2.8284271247461903px #ffffff;
        @media (max-width: 1100px) {
            bottom: -67.88225099390856px;
        }
    }
}

.style_left {
    left: 0px;
    transition: left 0.8s ease;

    @media (max-width: 1440px) {
        left: 135px;
    }
    @media (max-width: 768px) {
        left: 0;
    }
}

.style_right {
    left: -1500px;
    transition: left 0.8s ease;

    @media (max-width: 1440px) {
        left: -1376px;
    }
    @media (max-width: 1100px) {
        left: -850px;
    }
    @media (max-width: 768px) {
        left: -990px;
    }
}
