.hexagon {
    // width: 100vw; /* Задаем ширину блока, равную 100% ширины окна просмотра */
    // overflow-x: auto; /* Включаем горизонтальную прокрутку при необходимости */
    // white-space: nowrap; /* Запрещаем перенос строк внутри блока */
    // background-color: red;
}
.grid {
    // max-width: 1570px;
    padding: 68px 15px 0 15px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 330px);
    grid-template-rows: repeat(6, 280px);
    column-gap: 164px;
    // overflow: hidden;
    // justify-content: center;
    // @media (max-width: 1024px) {
    //     grid-template-rows: 195px;
    //     column-gap: 14px;
    //     justify-items: center;
    //     padding: 350px 15px 0 15px;
    // }
    // @media (max-width: 767px) {
    //     grid-template-columns: repeat(3, 180px);
    //     grid-template-rows: 130px;
    //     column-gap: 58px;
    //     padding: 200px 15px 0 15px;
    // }
    // @media (max-width: 480px) {
    //     grid-template-columns: repeat(3, auto);
    //     grid-template-rows: auto;
    //     column-gap: 48px;
    //     padding: 120px 15px 0 15px;
    // }
}
.item {
    width: 330px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    overflow: hidden;
    background: #d7d8e0;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 98%;
        height: 98%;
        // background: linear-gradient(120deg, #3c4060, #279ad1);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        // opacity: 0.6;
        transition: all 0.5s ease-out;
    }

    // &:hover {
    //     &::after {
    //         opacity: 0;
    //         transition: all 0.5s ease-out;
    //     }
    // }

    // @media (max-width: 1024px) {
    //     width: 230px;
    // }
    // @media (max-width: 767px) {
    //     width: 160px;
    // }
    // @media (max-width: 480px) {
    //     width: 100px;
    // }
    p {
        position: absolute;
        font-size: 40px;
        white-space: no-wrap;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #3c4060;
    }

    img {
        max-width: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 98%;
        height: 98%;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background: linear-gradient(120deg, #3c4060, #279ad1);
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        }
    }
    &:nth-child(n + 1):nth-child(-n + 4) {
        transform: translate(494px, 0px);
    }
    &:nth-child(5) {
        transform: translate(494px, 280px);
    }
    &:nth-child(n + 6):nth-child(-n + 10) {
        transform: translate(247px, -141px);
        // @media (max-width: 1024px) {
        //     transform: translate(172px, -98px);
        // }
        // @media (max-width: 767px) {
        //     transform: translate(119px, -66px);
        // }
        // @media (max-width: 480px) {
        //     transform: translate(74px, -43px);
        // }
    }
    &:nth-child(n + 11):nth-child(-n + 15) {
        transform: translate(0px, -282px);
        // @media (max-width: 1024px) {
        //     transform: translate(-172px, -288px);
        // }
        // @media (max-width: 767px) {
        //     transform: translate(-119px, -197px);
        // }
        // @media (max-width: 480px) {
        //     transform: translate(-74px, -125px);
        // }
    }

    &:nth-child(n + 16):nth-child(-n + 20) {
        transform: translate(247px, -421px);
        // @media (max-width: 1024px) {
        //     transform: translate(0px, -193px);
        // }
        // @media (max-width: 767px) {
        //     transform: translate(0px, -134px);
        // }
        // @media (max-width: 480px) {
        //     transform: translate(0px, -85px);
        // }
    }
    &:nth-child(n + 21):nth-child(-n + 24) {
        transform: translate(494px, -563px);
        // @media (max-width: 1024px) {
        //     transform: translate(172px, -290px);
        // }
        // @media (max-width: 767px) {
        //     transform: translate(119px, -200px);
        // }
        // @media (max-width: 480px) {
        //     transform: translate(74px, -127px);
        // }
    }
}

      {/* <div className="grid"> */}
      {/*первая  с 1 по 5 */}
      {/* <div className="item" style={{ opacity: 0 }}>
          <img src="" alt="" />
          <p>1</p>
        </div>
        <div className="item">
          <img src="" alt="" />
          <p>2</p>
        </div>
        <div className="item">
          <img src="" alt="" />
          <p>3</p>
        </div>
        <div className="item" style={{ opacity: 0 }}>
          <img src="" alt="" />
          <p>4</p>
        </div>
        <div className="item">
          <img src="" alt="" />
          <p>5</p>
        </div> */}
      {/*вторая  с 6 по 10 */}
      {/* <div className="item">
          <img src="" alt="" />
          <p>6</p>
        </div>
        <div className="item">
          <img src="" alt="" />
          <p>7</p>
        </div>
        <div className="item">
          <img src="" alt="" />
          <p>8</p>
        </div>
        <div className="item">
          <img src="" alt="" />
          <p>9</p>
        </div>
        <div className="item" style={{ opacity: 0 }}>
          <img src="" alt="" />
          <p>10</p>
        </div> */}
      {/*третья с 11 по 15 */}
      {/* <div className="item">
          <img src="" alt="" />
          <p>11</p>
        </div>
        <div className="item" >
          <img src="" alt="" />
          <p>12</p>
        </div>
        <div className="item">
          <img src="" alt="" />
          <p>13</p>
        </div>
        <div className="item">
          <img src="" alt="" />
          <p>14</p>
        </div>
        <div className="item">
          <img src="" alt="" />
          <p>15</p>
        </div> */}

      {/* четвертая с 16 по 20 */}
      {/* <div className="item">
          <img src="" alt="" />
          <p>16</p>
        </div>
        <div className="item">
          <img src="" alt="" />
          <p>17</p>
        </div>
        <div className="item">
          <img src="" alt="" />
          <p>18</p>
        </div>
        <div className="item">
          <img src="" alt="" />
          <p>19</p>
        </div>
        <div className="item">
          <img src="" alt="" />
          <p>20</p>
        </div> */}
      {/* пятая с 21 по 25*/}
      {/* <div className="item">
          <img src="" alt="" />
          <p>21</p>
        </div>
        <div className="item" style={{ opacity: 0 }}>
          <img src="" alt="" />
          <p>22</p>
        </div>
        <div className="item">
          <img src="" alt="" />
          <p>23</p>
        </div>
        <div className="item">
          <img src="" alt="" />
          <p>24</p>
        </div> */}
      {/* </div> */}