.partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 0 104px;

    @media (max-width: 1024px) {
        padding: 130px 0 104px;
    }
    @media (max-width: 768px) {
        margin-top: auto;
        padding: 130px 0 30px;
    }
    svg {
        opacity: 0.3;
        margin-right: clamp(0.3125rem, -0.7398rem + 4.4898vw, 3.75rem);
        &:last-child {
            margin-right: 0;
        }
    }
}
