.partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 0 104px;
    @media (max-width: 768px) {
        // margin-top: auto;
    }

    @media (max-width: 992px) {
        padding: 0;
    }
    svg {
        opacity: 0.3;
        margin-right: clamp(0.3125rem, -0.7398rem + 4.4898vw, 3.75rem);
        &:last-child {
            margin-right: 0;
        }
    }
}
